<% wrap_layout :layout  do %>
    <div class="col-sm-8 col-xs-12 col-md-9 col-lg-10">
      <article>
        <%= yield %>
      </article>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
      <div class="list-group sidenav">
        <ul class="list-unstyled">
          <li class="list-group-item"><h5><%= link_to "Overview", "/" %></h5></li>
          <li class="list-group-item"><h5><%= link_to "FHIR", "/fhir.html" %></h5></li>
          <li class="list-group-item"><h5><%= link_to "Releases", "/releases.html" %></h5></li>
          <li class="list-group-item"><h5><%= link_to "GitHub Project", "https://github.com/clingen-data-model/" %></h5></li>
          <% data.models.each do |m, config| %>
            <%= model_link_nav(m) %>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>
